body,
html {
  height: 100%;
  margin: 0;
  font: size 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
/* 
fixed = parallax
scroll = normal
 */
  background-attachment: fixed;
}
.pimg1 {
  background-image: url("background.jpg");
  min-height: 100%;
}
.pimg2 {
  background-image: url("people.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("border2.jpg");
  min-height: 400px;
}
.section{
    text-align:center;
    padding: 50px 80px;
}
.section-light{
    background-color:lightgrey;
    color:#666;
}
.section-dark{
    background-color:#282e34;
    color:#ddd;
}
.ptext{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color:#000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border{
    background-color: #111;
    opacity: 0.7;
    color:white;
    padding:20px;


}


button{
    background-color:black;
    color:white;
}

.ptext .border.trans{
    background-color: transparent;
    
}

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(75, 75, 75);
  opacity: 0.9;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  padding-bottom: 3px;
  margin-right: 30px;
}

#main {
  padding: 16px;
  margin-left: 85px;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
/* james stuff */
#footer {
  color: white;
  background: transparent;
  font-size: small;
  padding-top: 20px;
}
/* marias stuff */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item1 .grid-item2 .grid-item3{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}