body,
html {
  height: 100%;
  margin: 0;
  font: size 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
/* 
fixed = parallax
scroll = normal
 */
  background-attachment: fixed;
}
.pimg1 {
  background-image: url("assets/background.jpg");
  min-height: 100%;
}
.pimg2 {
  background-image: url("assets/people.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("assets/border2.jpg");
  min-height: 400px;
}
.section{
    text-align:center;
    padding: 50px 80px;
}
.section-light{
    background-color:lightgrey;
    color:#666;
}
.section-dark{
    background-color:#282e34;
    color:#ddd;
}
.ptext{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color:#000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border{
    background-color: #111;
    opacity: 0.7;
    color:white;
    padding:20px;
}
button{
    background-color:black;
    color:white;
}
.ptext .border.trans{
    background-color: transparent;
    
}
@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}